{{!--<!DOCTYPE html>
    {{!项目名称: iWhereLink - build with Metronic 1.3 }}
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>iWhereLink | {{title}}</title>
    {{!BEGIN GLOBAL MANDATORY STYLES }}
    <link rel='stylesheet' href='../css/bootstrap.min.css'/>
</head>
<body>--}}
<div class="alert alert-danger" role="alert">
    <p>很抱歉，您没有权限访问</p>
</div>

{{!--</body>
</html>--}}
