{{#section 'head'}}
<link  rel="stylesheet" href="/css/statistic_event.css" >
{{/section}}
<div class="left">
    <div class="search-box">
        <div class="search-input">
            <input id="search-input" class="search-input" value=""/>
            <ul class="result-list">
                <li>选项</li>
            </ul>
        </div>
        <div id="search"></div>
    </div>
    <div class="toggle-modal">共<span></span>条结果</div>
    <div class="left-modal">
        <ul id="buildingList">
            
        </ul>
    </div>
    <div id="map" style="height:100%">
        <div class="deleteShape"></div>
        <div class="geoSOTCode"></div>
    </div>
</div>
<div class="right">
    <div class="informationBox" style="width:100%;height: 33%;margin-bottom: 5px;">
        <h4 class="header-4">
            房产统计
        </h4>
        <div class="infoContent">
            <div class="chart" id="chart1"></div>
        </div>
    </div>

    <div class="informationBox" style="width:100%;height: 33%;margin-bottom: 5px;">
        <h4 class="header-4">
            出租率
        </h4>
        <div class="infoContent">
            <div class="chart" id="chart2"></div>
        </div>
    </div>
    <div class="informationBox" style="width:100%;height: 33%;">
        <h4 class="header-4">
            危房统计
        </h4>
        <div class="infoContent">
            <div class="chart" id="chart3"></div>
        </div>
    </div>
</div>
<div id="loading" style="position:fixed;top:0;left:0;bottom:0;right:0;display: none;">
    <img style="position:absolute;top:50%;left:33%;margin-left:-30px;" src="/js/layer/skin/default/loading-0.gif" alt="">
</div>

{{#section 'js'}}
<script src="/js/statistic_building.js" ></script>
{{/section}}