{{#section 'head'}}
<link  rel="stylesheet" href="/css/statistic_event.css" >
{{/section}}
<div class="left">
    <div class="search-box">
        <div class="search-input">
            <input id="search-input" class="search-input" value=""/>
            <ul class="result-list">
                <li>选项</li>
            </ul>
        </div>
        <div id="search"></div>
    </div>
    <div class="toggle-modal">共<span></span>条结果</div>
    <div class="left-modal">
        <ul id="companyList"></ul>
    </div>
    <div id="map" style="height:100%">
        <div class="deleteShape"></div>
        <div class="geoSOTCode"></div>
        <div class="legend">
            <div class="warning-list">
                <span class="blt"></span>
                <span class="blb"></span>
                <span class="brt"></span>
                <span class="brb"></span>
                <ul class="legend-type">
                    <li class="active"><span class="company-statistic-red-icon"></span>红<label>0</label><i></i></li>
                    <li class="active"><span class="company-statistic-orange-icon"></span>橙<label>0</label><i></i></li>
                    <li class="active"><span class="company-statistic-yellow-icon"></span>黄<label>0</label><i></i></li>
                    <li class="active"><span class="company-statistic-blue-icon"></span>蓝<label>0</label><i></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="right">
    <div class="informationBox" style="width:100%;height: 33%;margin-bottom: 5px;">
        <h4 class="header-4">
            企业数量
        </h4>
        <div class="infoContent">
            <div class="chart" id="chart1"></div>
        </div>
    </div>

    <div class="informationBox" style="width:100%;height: 33%;margin-bottom: 5px;">
        <h4 class="header-4">
            企业纳税
        </h4>
        <div class="infoContent">
            <div class="chart" id="chart2"></div>
        </div>
    </div>
    <div class="informationBox" style="width:100%;height: 33%;">
        <h4 class="header-4">
            企业类型
        </h4>
        <div class="infoContent">
            <div class="chart" id="chart3"></div>
        </div>
    </div>
</div>
<div id="loading" style="position:fixed;top:0;left:0;bottom:0;right:0;display: none;">
    <img style="position:absolute;top:50%;left:33%;margin-left:-30px;" src="/js/layer/skin/default/loading-0.gif" alt="">
</div>

{{#section 'js'}}
<script src="/js/statistic_cmp.js" ></script>
{{/section}}