<!DOCTYPE html>
<html>
    <head>
        <title>Leaflet TimeDimension</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="css/timeCss/default.min.css" />
        <link rel="stylesheet" href="css/timeCss/leaflet.css" />
        <link rel="stylesheet" href="css/timeCss/Control.FullScreen.min.css" />
        <link rel="stylesheet" href="css/timeCss/leaflet.timedimension.control.css" />
        <link rel="stylesheet" href="css/timeCss/style.css" />
        <style>
        a.leaflet-control-timecontrol.timecontrol-date {
            width: 120px;
            padding-left: 30px !important;
            font-weight: bold;
        }
        </style>
    </head>
    <body>
        <div id="map" class="map"></div>
        <script type="text/javascript" src="js/timeJs/cdnjs/jquery.min.js"></script>
        <script type="text/javascript" src="js/timeJs/cdnjs/leaflet.js"></script>
        <script type="text/javascript" src="js/timeJs/cdnjs/Control.FullScreen.min.js"></script>
        <script type="text/javascript" src="js/timeJs/cdnjs/NonTiledLayer.js"></script>
        <script type="text/javascript" src="js/timeJs/cdnjs/NonTiledLayer.WMS.js"></script>
        <script type="text/javascript" src="js/timeJs/cdnjs/iso8601.min.js"></script>
        <script type="text/javascript" src="js/timeJs/cdnjs/heatmap.min.js"></script>
        <script type="text/javascript" src="js/timeJs/cdnjs/leaflet-heatmap.js"></script>
        <script type="text/javascript" src="js/timeJs/cdnjs/title.stamen.js"></script>
        <script type="text/javascript" src="js/timeJs/cdnjs/dateformat.js"></script>
        <script type="text/javascript" src="js/timeJs/leaflet.timedimension.js"></script>
        <script type="text/javascript" src="js/timeJs/leaflet.timedimension.util.js"></script>
        <script type="text/javascript" src="js/timeJs/leaflet.timedimension.layer.js"></script>
        <script type="text/javascript" src="js/timeJs/leaflet.timedimension.layer.wms.js"></script>
        <script type="text/javascript" src="js/timeJs/leaflet.timedimension.layer.geojson.js"></script>
        <script type="text/javascript" src="js/timeJs/leaflet.timedimension.player.js"></script>
        <script type="text/javascript" src="js/timeJs/leaflet.timedimension.control.js"></script>
        <script type="text/javascript" src="js/timeJs/example12.js"></script>
    </body>
</html>
