.grid-tool-out,.grid-tool-in{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #0ed17c;
    float: left;
    cursor: pointer;
}

.grid-tool-out{
    font-size: 32px;
    line-height: 15px;
}
.grid-tool-axle{
    float: left;
    height: 4px;
    width: 140px;
    background-color: #dbdbdb;
    margin: 8px 10px;
    position: relative;
}
.grid-tool-text{

}
.grid-tool-in{
    font-size: 24px;
    line-height: 16px;
}
.grid-tool-before{
    height: 4px;
    background-color: #0ed17c;
    width: 103px;
    /*box-shadow:0 0 10px #6ed22d ;*/

}
.grid-tool-bar{
    position: absolute;
    height: 14px;
    width: 6px;
    background: url("../../image/grid-tool-bar.png");
    top:-4px;
    left: 103px;
}
.grid-tool-text{
    height: 23px;
    width: 27px;
    line-height: 18px!important;
    position: absolute;
    top: -25px;
    left: -10px;
    font-size: 10px;
    text-align: center;
    color: #262b2e;
    line-height: 11px;
    background: url('../../image/slider_bar_tip.png');
    z-index: 100;
}

.grid-tool-out:hover,.grid-tool-in:hover{
    text-shadow: 0 0 10px #6ed22d;

}